.Skills_Section {
  min-height: 50vh;
  @media only screen and (min-width: 900px) {
    min-height: 100vh;
  }
}

.Skills_Box {
  background-color: grey;
  width: 95%;
}

.Skills_H1 {
  margin-bottom: 2rem;
}

.Skills_Container {
  font-size: 1.2rem;
  line-height: 4rem;
}
/* 
.col {
  padding: 0;
} */
